<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/login.css">
    {{!-- Bostrap --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <section class="container forms">
        <div class="text-center">
            <div class="form-content">
                <h1>Login</h1>

                <form action="/login" method="post">
                    <div class="filed input-filed">
                        <input type="email" name="email" placeholder="Email">
                    </div><br>
                    <div class="filed input-filed">
                        <input type="password" name="password" placeholder="Password">
                    </div><br>

                    <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password</a>
                    </div><br>

                    <div class="filed button-filed">
                        <button>Login</button>
                    </div>
                    <br>
                    
                    <div class="form-link">
                        <span>Already have an account ? <a href="/signup" class="signup-link">Sign Up</a> </span>
                    </div>
                </form>

            </div>
        </div>
    </section>
    
</body>
    
</html>